.c_quotation .c_quo_lt{
    width: 200px;
    height: 1000px;
    float: left;
}
.c_quotation .c_quo_rt{
    width: 930px;
    height: 1000px;
    float: right;
    padding: 30px;
    background-color: #fff;
}
.c_quotation .quo_title{
    color: #006c05;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.c_quotation .tips{
    padding-bottom: 5px;
}
.quo_search {
    padding: 20px 0;
}
.quo_search .sch_item{
    float: left;
    margin-right: 20px;
}
.quo_search .sch_item label{
    float: left;
    line-height: 25px;
    margin-right: 10px;
}
.quo_search .sch_item input,
.quo_search .sch_item select {
    width: 150px;
    height: 25px;
    line-height: 25px;
    color: #495060;
    border: 1px solid #e0e0e0;
}
.quo_search .ivu-input-small{
    font-size: 14px !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 0 !important;
}
.quo_search .sch_btn {
    height: 25px;
    line-height: 25px;
    float: left;
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
    background-color: #3f8fd8;
}
.quo_list {
    width: 100%;
}
.quo_list thead{
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #3f8fd8;
}
.quo_list thead th{
    text-align: center;
}
.quo_list tbody tr{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #e0e0e0;
}
.quo_list tbody td{
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.quo_list tbody td.rd{
    color: red;
}
.quo_list tbody td.gn{
    color: green;
}