.c_list_search .items{
    margin-top: -1px;
    border: 1px solid #e0e0e0;
    background-color: #f4f4f4;
}
.c_list_search .items:after{
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
}
.c_list_search .items .items_lt{
    width: 10%;
    line-height: 38px;
    float: left;
    text-align: center;
}
.c_list_search .items .items_rt{
    position: relative;
    width: 90%;
    float: right;
    padding-left: 20px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c_list_search .options {
    width: 90%;
    height: 38px;
    line-height: 38px;
    float: left;
    font-size: 0;
    overflow: hidden;
}
.c_list_search .options span{
    display: inline-block;
    margin:0 20px 10px 0;
    color: #705d53;
    font-size: 12px;
    cursor: pointer;
}
.c_list_search .options span:hover{
    color: #0096ff;
}
.c_list_search .items_rt .btn_toggle{
    position: absolute;
    top: 9px;
    right: 10px;
    line-height: 15px;
    padding: 2px 10px;
    color: #888;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.c_list_search .items_rt .btn_toggle:hover{
    color: #0096ff;
}
.c_list_search .items.toggle .options {
    height: auto;
    line-height: 15px;
}
.c_list_search .items.toggle .options {
    margin-top: 11px;
}