/* sort_bar */
.sort_bar{
    padding: 20px 0;
}
.sort_bar .btn_sort{
    position: relative;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 0 25px 0 10px;
    margin-right: 10px;
    color: #999999;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #e0e0e0;
}
.sort_bar .btn_sort .icon_arrow{
    position: absolute;
    top: 0;
    right: 10px;
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url("../../images/hall_icons.png");
    background-position: -90px -87px;
}
.sort_bar .btn_sort.active{
    color: #fff;
    border-color: #ff7200;
    background-color: #ff7200;
}
.sort_bar .btn_sort.active .icon_arrow{
    background-position: -314px -188px;
}
.sort_bar .btn_sort.btn_price .icon_arrow{
    background-position: -132px -86px !important;
}